<!DOCTYPE html PUBLIC
        "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="generator" content="Plone - http://plone.org" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {#
    <base href="http://www.ugent.be/nl/homepage-nl" /><!--[if lt IE 7]></base><![endif]-->
    #}
    <link rel="canonical" href="http://www.ugent.be/nl" />
    <meta content="De UGent is een van de grootste universiteiten in het Nederlandse taalgebied en profileert zich als open, sociaal geëngageerd en pluralistisch." name="DC.description" /><meta content="De UGent is een van de grootste universiteiten in het Nederlandse taalgebied en profileert zich als open, sociaal geëngageerd en pluralistisch." name="description" /><meta content="text/html" name="DC.format" /><meta content="Webpagina" name="DC.type" /><meta content="2014-08-26T09:54:11+02:00" name="DC.date.modified" /><meta content="2010-05-31T01:32:03+02:00" name="DC.date.created" />
    <link rel="kss-base-url" href="http://www.ugent.be/nl/homepage-nl/" />

    <style type="text/css">@import url(http://www.ugent.be/portal_css/UGent%20Plone%204%20Theme/reset-cachekey-cfe10ba149c5cdde856d7600724d534e.css);</style>
    <style type="text/css">@import url(http://www.ugent.be/portal_css/UGent%20Plone%204%20Theme/plomino-cachekey-81a8fd8e2d306972d9aed89fbf8cb7b9.css);</style>
    <!--[if IE]>

    <style type="text/css" media="screen">@import url(http://www.ugent.be/portal_css/UGent%20Plone%204%20Theme/IEFixes-cachekey-ef1cae51857bd3776f2ad7eaa955bd11.css);</style>
    <![endif]-->

    <style type="text/css" media="screen">@import url(http://www.ugent.be/portal_css/UGent%20Plone%204%20Theme/resourceplone.app.jquerytools.dateinput-cachekey-991f1f21c8df7ffed8279a39b4e894d9.css);</style>
    <link rel="stylesheet" type="text/css" media="screen" href="http://www.ugent.be/portal_css/UGent%20Plone%204%20Theme/resourcejquery-ui-themessunburstjqueryui-cachekey-9d3adf0f41a15909e67ec3c3ca84e1a0.css" />
    <!--[if IE 6]>

    <style type="text/css" media="screen">@import url(http://www.ugent.be/portal_css/UGent%20Plone%204%20Theme/ie6-cachekey-d2da919f64e634aeaa70da8e7792d7d3.css);</style>
    <![endif]-->

    <!--[if IE 7]>

    <style type="text/css" media="screen">@import url(http://www.ugent.be/portal_css/UGent%20Plone%204%20Theme/ie7-cachekey-cfba3b71758491d0e0caf1d5bcb842ec.css);</style>
    <![endif]-->

    <style type="text/css" media="screen">@import url(http://www.ugent.be/portal_css/UGent%20Plone%204%20Theme/resourceeasySlider-cachekey-4488c8cfe1aa1fb759661ed8ef935403.css);</style>
    <style type="text/css" media="all">@import url(http://www.ugent.be/portal_css/UGent%20Plone%204%20Theme/resourceugent_phonebookphonebook-cachekey-e30f7518591c2aeee7643a8e11ef5a1a.css);</style>
    <link rel="stylesheet" type="text/css" media="screen" href="http://www.ugent.be/portal_css/UGent%20Plone%204%20Theme/resourceplone.formwidget.datetimestyles-cachekey-f9d7f009489db81f08d24f714e3fd377.css" />
    <style type="text/css" media="all">@import url(http://www.ugent.be/portal_css/UGent%20Plone%204%20Theme/resourcestalecontentstalecontent-cachekey-7a38bdc250eece5ab7701047cda2ca14.css);</style>


    <link rel="kinetic-stylesheet" type="text/css" href="http://www.ugent.be/portal_kss/UGent%20Plone%204%20Theme/at-cachekey-415f1be6158436d8881b16a554b8e558.kss" />

    <link rel="stylesheet" type="text/css" href="{{ app.request.baseUrl }}/assets/public/css/style.css"/>

    <script type="text/javascript" src="http://www.ugent.be/portal_javascripts/UGent%20Plone%204%20Theme/jquery-cachekey-d4b38ece0f8d2d8ace269c5f1bbcc3fb.js"></script>
    <script type="text/javascript" src="http://www.ugent.be/portal_javascripts/UGent%20Plone%204%20Theme/resourceplomino.javascriptplomino.codemirror-cachekey-2352e4fc72325574aafc041dec844e60.js"></script>
    <script type="text/javascript" src="http://www.ugent.be/portal_javascripts/UGent%20Plone%204%20Theme/resourcecodemirrorconvertTextAreas-cachekey-64a9fdab19be32eaf7a471d011159151.js"></script>
    <script type="text/javascript" src="http://www.ugent.be/portal_javascripts/UGent%20Plone%204%20Theme/resourceplomino.javascriptplomino.debug-cachekey-0d44f7db0e0a58ba00352cb15f9325b6.js"></script>
    <script type="text/javascript" src="http://www.ugent.be/portal_javascripts/UGent%20Plone%204%20Theme/resourcekukit-cachekey-27c3cb1aac143bc839259894a417dafd.js"></script>
    <script type="text/javascript" src="http://www.ugent.be/portal_javascripts/UGent%20Plone%204%20Theme/orderablereference-cachekey-9cb86c39b01732bff20ef8704d264442.js"></script>
    <!--[if lt IE 9]>

    <script type="text/javascript" src="http://www.ugent.be/portal_javascripts/UGent%20Plone%204%20Theme/ie_select_width_fix-cachekey-7a5dda64acc719f407703baa6026600c.js"></script>
    <![endif]-->

    <script type="text/javascript" src="http://www.ugent.be/portal_javascripts/UGent%20Plone%204%20Theme/referencebrowser-cachekey-58aac0209b425a77ab60e6ffe02e47a7.js"></script>
    <!--[if lt IE 8]>

    <script type="text/javascript" src="http://www.ugent.be/portal_javascripts/UGent%20Plone%204%20Theme/iefixes-cachekey-61c0c48affddf060ee864b41871ab521.js"></script>
    <![endif]-->

    <script type="text/javascript" src="http://www.ugent.be/portal_javascripts/UGent%20Plone%204%20Theme/resourcejquery-uijquery.ui.core.min-cachekey-8796e3a2912805af2c269ea56f9fb911.js"></script>
    <script type="text/javascript" src="http://www.ugent.be/portal_javascripts/UGent%20Plone%204%20Theme/resourcejquery-ui-i18n-cachekey-db885a5532ac8ffc2d65900b570893c0.js"></script>
    <script type="text/javascript" src="http://www.ugent.be/portal_javascripts/UGent%20Plone%204%20Theme/jquery.tablesorter-cachekey-a1ee4babf247b077133f1fd576bfb117.js"></script>
    <script type="text/javascript" src="http://www.ugent.be/portal_javascripts/UGent%20Plone%204%20Theme/resourceeasySlider-cachekey-6b62fcddbca7918409308398982fe5c2.js"></script>
    <script type="text/javascript" src="http://www.ugent.be/portal_javascripts/UGent%20Plone%204%20Theme/resourceeasyslider-portlet-cachekey-4bc59c96243b65c805de68d27537602d.js"></script>
    <script type="text/javascript" src="http://www.ugent.be/portal_javascripts/UGent%20Plone%204%20Theme/hidegua-cachekey-a507e300a265cd73ac1001ee2e8b6951.js"></script>


    <title>Hermes &mdash; Universiteit Gent</title>

    <link rel="shortcut icon" type="image/x-icon" href="http://www.ugent.be/favicon.ico" />
    <link rel="apple-touch-icon" href="http://www.ugent.be/touch_icon.png" />
    <meta name="apple-mobile-web-app-title" content="UGent" />

    <script type="text/javascript">
        jQuery(function($){
            $.datepicker.setDefaults(
                    jQuery.extend($.datepicker.regional['nl'],
                            {dateFormat: 'dd-mm-yy'}));
        });
    </script>

    <link rel="home" href="http://www.ugent.be/diversiteitengender/nl" title="Startpagina" />
    <link rel="contents" href="http://www.ugent.be/diversiteitengender/nl/sitemap" title="Sitemap" />
    <link rel="search" href="http://www.ugent.be/diversiteitengender/nl/search_form" title="Doorzoek deze site" />

    <!-- Disable IE6 image toolbar -->
    <meta http-equiv="imagetoolbar" content="no" />

</head>

<body class="template-homepage_nl1 portaltype-document site-nl section-homepage-nl icons-on section-nl section-nl-homepage-nl" dir="ltr">
<div id="container">
    <div id="topbar">
        <div id="user">
            <ul class="swapUnderline">
                <li class="last-child visualIcon actionicon-user-login"><a href="{{ path('auth.login') }}">Aanmelden</a></li>
            </ul>
        </div>
        <div id="portal-header">
            <p class="hiddenStructure">
                <a accesskey="2" href="http://www.ugent.be/nl#content">Ga naar inhoud.</a> |
                <a accesskey="6" href="http://www.ugent.be/nl#portal-globalnav">Ga naar navigatie</a>
            </p>
        </div>
        <div id="language">
            <ul class="swapUnderline">
                <li>
                    <abbr title="Nederlands">NL</abbr>
                </li>
                <li class="last-child" lang="en" xml:lang="en">
                    <a href="http://www.ugent.be/en" title="English"><abbr title="English">EN</abbr></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="header">
        <div id="headerleft">
            <h1 class="site_title">
                <a href="http://www.ugent.be/nl" title="Home Universiteit Gent">Universiteit Gent</a>
            </h1>
            <div id="logo">
                <a title="Universiteit Gent" accesskey="1" href="http://www.ugent.be/nl">
                    <img src="http://www.ugent.be/universiteit_gent.gif" alt="Universiteit Gent" title="Home Universiteit Gent" />
                </a>
            </div>
        </div>
        <div id="headerright">
            <div id="search">
                <form name="searchform" id="cse-search-box" action="https://www.google.nl/cse">
                    <input type="hidden" name="cx" value="017123110772135953352:-rmqgoskg1q" />
                    <input type="hidden" name="cof" value="FORID:0" />
                    <input type="hidden" name="ie" value="utf-8" />
                    <input type="hidden" name="oe" value="utf-8" />
                    <input type="text" name="q" size="20" id="search-input" />
                    <input type="submit" name="sa" value="Zoeken" />
                </form>
            </div>
            <div id="utility">
                <ul id="ugent-header-siteactions">
                    <li id="siteaction-contact"><a href="http://www.ugent.be/nl/univgent/contact" title="Contact">Contact</a></li>
                    <li id="siteaction-phonebook"><a href="http://www.ugent.be/nl/telefoonboek" title="Telefoonboek">Telefoonboek</a></li>
                    <li class="last-child" id="siteaction-faq"><a href="http://www.ugent.be/nl/vragen" title="Veelgestelde vragen">Veelgestelde vragen</a></li>
                </ul>
            </div></div>
    </div>
    <div id="breadcrumb">
        <span id="no-breadcrumbs">&nbsp;</span>
    </div>
    <div id="main">
        <div id="portal-column-one">
            <div id="portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f706c6f6e655f706f7274616c0a6e617669676174696f6e" class="portletWrapper kssattr-portlethash-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f706c6f6e655f706f7274616c0a6e617669676174696f6e">
                <div id="mainnav">
                    <ul>
                        <li class="">
                            <a href="http://www.ugent.be/nl/studeren" title="">Studeren</a>
                        </li>
                        <li class="">
                            <a href="http://www.ugent.be/nl/onderzoek" title="">Onderzoek</a>
                        </li>
                        <li class="">
                            <a href="http://www.ugent.be/nl/actueel" title="">Nieuws</a>
                        </li>
                        <li class="">
                            <a href="http://www.ugent.be/nl/agenda" title="Evenementenagenda van de Universiteit Gent">Agenda</a>
                        </li>
                        <li class="">
                            <a href="http://www.ugent.be/nl/univgent" title="">Over de UGent</a>
                        </li>
                        <li class="">
                            <a href="http://www.ugent.be/nl/vacatures" title="">Vacatures</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
{% block pageContent %}
{% endblock %}
    </div>
    <div class="visualClear"><!-- --></div>
    <div id="footerpush"> </div>
    </div>
    <div id="footer-wrap">
        <div id="footer">
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-2712566-1', 'ugent.be');
                ga('send', 'pageview');
            </script>
            <ul id="copyright" class="swapUnderline">
                <li>
                    <span class="byline_author">Laatste update door</span>
                    <a href="mailto:portaal@ugent.be">portaal@ugent.be</a>
      <span>
        <span>op</span>
        26-08-2014 09:54
      </span>
                </li>
                <li>&#169; <span>2014</span> <span>Universiteit Gent</span>
                </li>
            </ul>
            <ul id="ugent-footer-siteactions">
                <li id="siteaction-feedback"><a href="http://www.ugent.be/nl/feedback" title="Feedback">Feedback</a> <span>&#124;</span></li>
                <li id="siteaction-rss"><a href="http://www.ugent.be/RSS" title="RSS">RSS</a> <span>&#124;</span></li>
                <li id="siteaction-accessibility"><a href="http://www.ugent.be/nl/voorzieningen/ict/portaal/toegankelijkheid.htm" title="Toegankelijkheid">Toegankelijkheid</a> <span>&#124;</span></li>
                <li id="siteaction-cookies"><a href="http://www.ugent.be/nl/cookies" title="Cookies">Cookies</a> <span>&#124;</span></li>
                <li class="last-child" id="siteaction-disclaimer"><a href="http://www.ugent.be/nl/disclaimer" title="Disclaimer">Disclaimer</a></li>
            </ul>
        </div>
    </div>
    <div id="kss-spinner"><img alt="" src="http://www.ugent.be/spinner.png" /></div>
</body>
</html>